// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Thin.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Thin.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Light.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Light.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Regular-Italic.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Regular-Italic.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Regular.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Regular.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Medium.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Medium.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Semibold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Semibold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Bold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Bold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Extrabold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Extrabold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url( "/assets/fonts/montserrat/Montserrat-Black.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/montserrat/Montserrat-Black.woff?o71b5v2" ) format( "woff" );
}