// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Extralight.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Extralight.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Light.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Light.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Regular-Italic.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Regular-Italic.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Regular.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Regular.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Semibold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Semibold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Bold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Bold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Extrabold.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Extrabold.woff?o71b5v2" ) format( "woff" );
}

/* latin */
@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url( "/assets/fonts/nunito-sans/NunitoSans-Black.woff2?o71b5v2" ) format( "woff2" ),
			url( "/assets/fonts/nunito-sans/NunitoSans-Black.woff?o71b5v2" ) format( "woff" );
}