<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="t-bluegrey">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Error | {{ title }}</title>
	<meta name="description" content="Welcome to MERN."/>
	<meta name="keywords" content="web development, software development, software engineering"/>
	<link rel="shortcut icon" href="/favicon.ico?v=1647646409088"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/gen/main.css?cb=1647646409091"/>
	<script type="text/javascript" src="/assets/js/lib/jquery-1.12.4.js"></script>
</head>
<body>
	<div id="appMountPoint">
		<div class="o-section-error">
			<div class="c-concord">
				<div class="c-concord__pane u-align-content">
					<span class="c-concord__align c-concord__align--error"></span>
					<div class="c-concord__content">
						<div class="c-concord__bg"></div>
						<div class="c-concord__info">
							<div class="o-container-fluid">
								<div class="o-row">
									<div class="o-col-xs-12">
										<div class="c-concord__text c-concord__text--error">
											<p class="c-concord__text__emphasis">ERROR 404 NOT FOUND</p>
											<p class="c-concord__text__regular">
												<span class="arrow">&gt;&gt;</span>
												<span>{{ content | safe }}</span>
											</p>
										</div>
										<div class="c-concord__links">
											<a href="/" class="e-btn e-btn--lg e-btn--highlight">Go Back Home</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div>
		<script type="text/javascript" src="/assets/js/gen/all.js?cb=1647646409091"></script>
	</div>
</div></body>
</html>