<!DOCTYPE html>
<html lang="en" class="s-sr t-bluegrey" data-ui="{{ browser }}" data-ua="{{ useragent }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Trevor Chigonda | {{ title }}</title>
	<meta name="description" content="Welcome to MERN.">
	<meta name="keywords" content="web development, software development, software engineering">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="#000000">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar" content="#000000">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="MERN App">
	<meta property="og:site_name" content="MERN">
	<meta property="og:image_secure" content="https://mern.com/images/content/bg/site-poster.jpg?v=1647646409088">
	<meta property="og:title" content="MERN | Web development">
	<meta property="og:description" content="Web development.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://mern.com">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/common/touch/apple-touch-icon.png?v=1647646409088">
	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/images/common/touch/apple-launch-640x1096.png?v=1647646409088">
	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/images/common/touch/apple-launch-640x1136.png?v=1647646409088">
	<link rel="icon" type="image/png" sizes="180x180" href="/images/common/favicon/favicon-180x180.png?v=1647646409088">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/common/favicon/favicon-96x96.png?v=1647646409088">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/common/favicon/favicon-32x32.png?v=1647646409088">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/common/favicon/favicon-16x16.png?v=1647646409088">
	<link rel="shortcut icon" href="/favicon.ico?v=1647646409088">
	<link rel="manifest" href="/manifest.json?v=1647646409088">
	<link rel="mask-icon" color="#f62b54" href="/images/common/touch/safari-pinned-tab.svg?v=1647646409088">
	<link rel="stylesheet" href="/assets/css/gen/app.a769fd8adaba9063b7ac.css">
	<script type="text/javascript" src="/assets/js/lib/jquery-3.5.1.js"></script>
</head>
<body>
	{% include 'pulse-loader.njk' %}
	<div id="appMountPoint">
		{{ content | safe }}
	</div>
	<div>
		<script type="text/javascript" src="/assets/js/gen/bundle.bee84b77cc7d8767d5a7.js"></script>
		<script type="text/javascript" src="/assets/js/gen/vendor.59054062b651152d5c3d.js"></script>
		<script type="text/javascript" src="/assets/js/gen/app.a769fd8adaba9063b7ac.js"></script>
		{% if context %}
			<script type="text/javascript">{{ context }}</script>
		{% endif %}
	</div>
</body>
</html>