<div id="copyright">
	<div class="o-container-fluid">
		<div class="o-row">
			<div class="o-col">
				<div class="o-copyright">
					<p class="e-copyright-text">
						Jam <strong>&copy; </strong>{{ year }}. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>