<nav class="c-navbar c-navbar--expand-lg">
	<div class="o-container-fluid">
		<button class="c-navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<div class="c-navbar__toggler__bars">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</button>
	</div>
</nav>